In [64]:
import math
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import scipy as sp
from statsmodels import regression
import statsmodels.api as sm
import xlsxwriter

In [65]:
df = pd.read_excel("AQM_Excel_data.xlsx")
df

,Date,Country,CPI,GDP,Imports,Exports,Unemployment,House,Industrial_Index,GDP_Capita,ars,intr
0,2010-01-01,US,217.488,14721.350,2.408555e+03,-4.891790e+02,9.8,147.3940,91.6642,49903.0,345959.000000,0.1100
1,2010-02-01,US,217.281,14721.350,2.408555e+03,-4.891790e+02,9.8,145.6310,91.9940,49903.0,346895.000000,0.1300
2,2010-03-01,US,217.353,14721.350,2.408555e+03,-4.891790e+02,9.9,145.8590,92.5993,49903.0,354379.000000,0.1600
3,2010-04-01,US,217.403,14926.098,2.520175e+03,-5.191270e+02,9.9,146.3990,92.9436,50272.0,357365.000000,0.2000
4,2010-05-01,US,217.290,14926.098,2.520175e+03,-5.191270e+02,9.6,146.3890,94.2997,50272.0,354299.000000,0.2000
...,...,...,...,...,...,...,...,...,...,...,...,...
127,2020-08-01,FR,105.090,541368.400,5.236358e+10,9.323044e+12,9.3,4.9866,95.4100,NaN,5.944056,-0.1713
128,2020-09-01,FR,104.550,541368.400,5.227677e+10,9.323044e+12,9.3,4.9866,97.0800,NaN,2.907489,-0.2072
129,2020-10-01,FR,104.510,533547.700,5.278377e+10,9.297192e+12,8.5,NaN,98.9900,NaN,5.462555,-0.2966
130,2020-11-01,FR,104.730,533547.700,5.284258e+10,9.297192e+12,8.1,NaN,98.7300,NaN,-11.877729,-0.3262
131,2020-12-01,FR,104.960,533547.700,5.388343e+10,9.297192e+12,7.8,NaN,98.0500,NaN,7.780725,-0.3352

In [71]:
df.dropna(inplace=True)
df.head()

,Date,Country,CPI,GDP,Imports,Exports,Unemployment,House,Industrial_Index,GDP_Capita,ars,intr
Date,,,,,,,,,,,,
2010-01-01,2010-01-01,US,217.488,14721.350,2408.555,-489.179,9.8,147.394,91.6642,49903.0,345959.0,0.11
2010-02-01,2010-02-01,US,217.281,14721.350,2408.555,-489.179,9.8,145.631,91.9940,49903.0,346895.0,0.13
2010-03-01,2010-03-01,US,217.353,14721.350,2408.555,-489.179,9.9,145.859,92.5993,49903.0,354379.0,0.16
2010-04-01,2010-04-01,US,217.403,14926.098,2520.175,-519.127,9.9,146.399,92.9436,50272.0,357365.0,0.20
2010-05-01,2010-05-01,US,217.290,14926.098,2520.175,-519.127,9.6,146.389,94.2997,50272.0,354299.0,0.20

In [72]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 120 entries, 2010-01-01 to 2019-12-01
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Date              120 non-null    object
 1   Country           120 non-null    object
 2   CPI               120 non-null    float64
 3   GDP               120 non-null    float64
 4   Imports           120 non-null    float64
 5   Exports           120 non-null    float64
 6   Unemployment      120 non-null    float64
 7   House             120 non-null    float64
 8   Industrial_Index  120 non-null    float64
 9   GDP_Capita        120 non-null    float64
 10  ars               120 non-null    float64
 11  intr              120 non-null    float64
dtypes: float64(10), object(2)
memory usage: 12.2+ KB

In [73]:
df['Date']=df['Date'].astype(str)
df

,Date,Country,CPI,GDP,Imports,Exports,Unemployment,House,Industrial_Index,GDP_Capita,ars,intr
Date,,,,,,,,,,,,
2010-01-01,2010-01-01,US,217.488,14721.350,2.408555e+03,-4.891790e+02,9.8,147.3940,91.664200,49903.000000,345959.0,0.1100
2010-02-01,2010-02-01,US,217.281,14721.350,2.408555e+03,-4.891790e+02,9.8,145.6310,91.994000,49903.000000,346895.0,0.1300
2010-03-01,2010-03-01,US,217.353,14721.350,2.408555e+03,-4.891790e+02,9.9,145.8590,92.599300,49903.000000,354379.0,0.1600
2010-04-01,2010-04-01,US,217.403,14926.098,2.520175e+03,-5.191270e+02,9.9,146.3990,92.943600,50272.000000,357365.0,0.2000
2010-05-01,2010-05-01,US,217.290,14926.098,2.520175e+03,-5.191270e+02,9.6,146.3890,94.299700,50272.000000,354299.0,0.2000
...,...,...,...,...,...,...,...,...,...,...,...,...
2019-08-01,2019-08-01,IT,103.500,406401.700,3.943381e+10,4.369856e+10,9.6,0.0496,105.191234,35677.380539,100.5,1.4036
2019-09-01,2019-09-01,IT,102.900,406401.700,3.973357e+10,4.479502e+10,9.8,0.0496,104.891259,35677.380539,100.8,0.9021
2019-10-01,2019-10-01,IT,102.800,404610.000,3.876617e+10,4.601795e+10,9.7,-0.0892,103.691359,35677.380539,100.8,1.0036
2019-11-01,2019-11-01,IT,102.600,404610.000,3.891874e+10,4.458105e+10,9.9,-0.0892,104.391301,35677.380539,100.1,1.2659
2019-12-01,2019-12-01,IT,102.800,404610.000,3.864472e+10,4.505600e+10,9.9,-0.0892,101.491542,35677.380539,100.4,1.3700

In [74]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 120 entries, 2010-01-01 to 2019-12-01
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Date              120 non-null    object
 1   Country           120 non-null    object
 2   CPI               120 non-null    float64
 3   GDP               120 non-null    float64
 4   Imports           120 non-null    float64
 5   Exports           120 non-null    float64
 6   Unemployment      120 non-null    float64
 7   House             120 non-null    float64
 8   Industrial_Index  120 non-null    float64
 9   GDP_Capita        120 non-null    float64
 10  ars               120 non-null    float64
 11  intr              120 non-null    float64
dtypes: float64(10), object(2)
memory usage: 12.2+ KB

In [75]:
df = df.set_index(df['Date'])
df.head()

,Date,Country,CPI,GDP,Imports,Exports,Unemployment,House,Industrial_Index,GDP_Capita,ars,intr
Date,,,,,,,,,,,,
2010-01-01,2010-01-01,US,217.488,14721.350,2408.555,-489.179,9.8,147.394,91.6642,49903.0,345959.0,0.11
2010-02-01,2010-02-01,US,217.281,14721.350,2408.555,-489.179,9.8,145.631,91.9940,49903.0,346895.0,0.13
2010-03-01,2010-03-01,US,217.353,14721.350,2408.555,-489.179,9.9,145.859,92.5993,49903.0,354379.0,0.16
2010-04-01,2010-04-01,US,217.403,14926.098,2520.175,-519.127,9.9,146.399,92.9436,50272.0,357365.0,0.20
2010-05-01,2010-05-01,US,217.290,14926.098,2520.175,-519.127,9.6,146.389,94.2997,50272.0,354299.0,0.20

In [76]:
df = df.drop(axis = 1, columns = 'Date')
df.tail()

,Country,CPI,GDP,Imports,Exports,Unemployment,House,Industrial_Index,GDP_Capita,ars,intr
Date,,,,,,,,,,,
2019-08-01,IT,103.5,406401.7,3.943381e+10,4.369856e+10,9.6,0.0496,105.191234,35677.380539,100.5,1.4036
2019-09-01,IT,102.9,406401.7,3.973357e+10,4.479502e+10,9.8,0.0496,104.891259,35677.380539,100.8,0.9021
2019-10-01,IT,102.8,404610.0,3.876617e+10,4.601795e+10,9.7,-0.0892,103.691359,35677.380539,100.8,1.0036
2019-11-01,IT,102.6,404610.0,3.891874e+10,4.458105e+10,9.9,-0.0892,104.391301,35677.380539,100.1,1.2659
2019-12-01,IT,102.8,404610.0,3.864472e+10,4.505600e+10,9.9,-0.0892,101.491542,35677.380539,100.4,1.3700

In [20]:
for col in df.iteritems():
    print('plotting'+col[0])
    fig, ax = plt.subplots()
    indicator=df[col[0]]
    ax.plot(indicator, alpha=0.9, color='blue')
    plt.title(col[0])
    plt.savefig('Charts\Plot_'+col[0]+'.png')
    plt.close()

plottingCountry
plottingCPI
plottingGDP
plottingImports
plottingExports
plottingUnemployment
plottingHouse
plottingIndustrial_Index
plottingGDP_Capita
plottingars
plottingintr

In [82]:
import sqlite3
from sqlite3 import Error
 

""" create a database connection tool to a SQLite database """

def create_connection(db_file):
    conn = None
    try:
        conn = sqlite3.connect(db_file)
        print(sqlite3.version)
    except Error as e:
        print(e)
    finally:
        if conn:
            conn.close()
 
 
if __name__ == '__main__':
    create_connection(r"/Users/olympiagaki/Desktop/AQM_Project.db")

2.6.0

In [83]:
conn = sqlite3.connect(r"/Users/olympiagaki/Desktop/AQM_Project.db")

print("Opened database successfully")

Opened database successfully

In [85]:
# Create Table in using SQL and Python
conn = sqlite3.connect(r"/Users/olympiagaki/Desktop/AQM_Project.db")
c = conn.cursor()
conn.execute ('''CREATE TABLE Table5
        (DATE TIMESTAMP,
         COUNTRY           TEXT    NOT NULL,
         CPI            INT     NOT NULL,
         GDP            INT     NOT NULL,
         IMPORTS            INT     NOT NULL,
         EXPORTS            INT     NOT NULL,
         UNEMPLOYMENT            INT     NOT NULL,
         HOUSE            INT     NOT NULL,
         IND_INDEX            INT     NOT NULL,
         GDP_CAPITA            INT     NOT NULL,
         ARS            INT     NOT NULL,
         INT_RATE INT)''')

print("Table created successfully")

Table created successfully

In [86]:
df.to_sql('Table5', conn, if_exists='replace', index = True)
 
c.execute('''  
SELECT * FROM Table5
          ''')

for row in c.fetchall():
    print (row)

('US', 217.488, 14721.35, 2408.555, -489.179, 9.8, 147.394, 91.6642, 49903.0, 345959.0, 0.11)
('US', 217.281, 14721.35, 2408.555, -489.179, 9.8, 145.631, 91.994, 49903.0, 346895.0, 0.13)
('US', 217.353, 14721.35, 2408.555, -489.179, 9.9, 145.859, 92.5993, 49903.0, 354379.0, 0.16)
('US', 217.403, 14926.098, 2520.175, -519.127, 9.9, 146.399, 92.9436, 50272.0, 357365.0, 0.2)
('US', 217.29, 14926.098, 2520.175, -519.127, 9.6, 146.389, 94.2997, 50272.0, 354299.0, 0.2)
('US', 217.199, 14926.098, 2520.175, -519.127, 9.4, 145.716, 94.4397, 50272.0, 353763.0, 0.18)
('US', 217.605, 15079.917, 2612.581, -535.095, 9.4, 144.985, 94.8536, 50545.0, 354665.0, 0.18)
('US', 217.923, 15079.917, 2612.581, -535.095, 9.5, 143.908, 95.1448, 50545.0, 356810.0, 0.19)
('US', 218.275, 15079.917, 2612.581, -535.095, 9.5, 143.011, 95.3637, 50545.0, 359465.0, 0.19)
('US', 219.035, 15240.843, 2633.738, -512.21, 9.4, 142.522, 95.1109, 50698.0, 363340.0, 0.19)
('US', 219.59, 15240.843, 2633.738, -512.21, 9.8, 142.167, 95.1383, 50698.0, 367455.0, 0.19)
('US', 220.472, 15240.843, 2633.738, -512.21, 9.3, 142.057, 96.0599, 50698.0, 369135.0, 0.18)
('IT', 94.1395348837209, 407296.6, 45329059720.2957, 30821200000.0, 8.2, 96.0, 107.991000749938, 36192.8663751007, 372057.0, 4.729)
('IT', 94.4186046511628, 407296.6, 44875657220.8945, 30720200000.0, 8.1, 96.2, 110.690775768686, 36192.8663751007, 375092.0, 4.7356)
('IT', 94.7906976744186, 407296.6, 48292152083.8411, 30412300000.0, 8.1, 96.4, 110.890759103408, 36192.8663751007, 378582.0, 4.8754)
('IT', 95.2558139534884, 407758.8, 50388434531.1854, 31705000000.0, 8.0, 96.5, 111.890675777019, 36192.8663751007, 380508.0, 4.841)
('IT', 95.3488372093023, 407758.8, 49094247038.9171, 32195700000.0, 8.3, 96.7, 109.790850762436, 36192.8663751007, 380353.0, 4.756)
('IT', 95.4418604651163, 407758.8, 47264130434.7826, 30805800000.0, 8.3, 96.7, 108.890925756187, 36192.8663751007, 383140.0, 4.8156)
('IT', 95.7209302325582, 405838.9, 48457846405.0065, 31546300000.0, 8.4, 96.7, 108.390967419382, 36192.8663751007, 382889.0, 5.463)
('IT', 96.0, 405838.9, 49123332917.8612, 31435900000.0, 8.6, 96.8, 107.891009082576, 36192.8663751007, 384006.0, 5.2705)
('IT', 96.0, 405838.9, 45229573590.0963, 31772900000.0, 9.0, 96.9, 107.391050745771, 36192.8663751007, 387509.0, 5.746)
('IT', 96.5581395348837, 402249.5, 45268953351.6268, 31287100000.0, 8.9, 97.2, 106.091159070077, 36192.8663751007, 390086.0, 5.9719)
('IT', 96.4651162790698, 402249.5, 44750607387.3096, 31351000000.0, 9.5, 97.5, 106.891092408966, 36192.8663751007, 391541.0, 7.0571)
('IT', 96.8372093023256, 402249.5, 40925732042.5481, 31435400000.0, 9.8, 97.6, 107.691025747854, 36192.8663751007, 391608.0, 6.812)
('FR', 97.46, 511825.4, 55774064516.129, 47303741935.4839, 9.5, 95.94, 100.71, 41258.2747305664, 0.763358778625952, 3.1797)
('FR', 97.86, 511825.4, 58573255594.075, 48887046958.7141, 9.5, 96.13, 101.59, 41258.2747305664, 0.649350649350658, 3.0158)
('FR', 98.67, 511825.4, 57812307138.1401, 49496896199.7959, 9.5, 96.31, 100.69, 41258.2747305664, 0.645161290322565, 2.9542)
('FR', 98.8, 510742.4, 57982185600.6015, 47546794911.9619, 9.6, 96.62, 100.97, 41258.2747305664, -1.8162393162393, 2.9935)
('FR', 98.75, 510742.4, 56472092764.5849, 47711089483.3435, 9.7, 96.72, 99.55, 41258.2747305664, 0.979325353645256, 2.7518)
('FR', 98.78, 510742.4, 55720827363.8968, 45750590974.212, 9.7, 96.83, 98.74, 41258.2747305664, 0.862068965517241, 2.5694)
('FR', 98.35, 511924.0, 52837219430.4858, 44997800111.6695, 9.7, 96.86, 99.43, 41258.2747305664, 0.64102564102565, 2.2752)
('FR', 99.0, 511924.0, 56430875849.423, 47806061913.4937, 9.8, 96.96, 101.67, 41258.2747305664, -1.48619957537156, 2.1194)
('FR', 98.76, 511924.0, 56092002830.8563, 48270861481.0526, 9.9, 97.06, 99.45, 41258.2747305664, 0.64655172413794, 2.2372)
('FR', 98.94, 511302.7, 56153661701.6475, 47730060934.3263, 10.0, 97.23, 97.93, 41258.2747305664, 0.64239828693791, 2.1857)
('FR', 98.79, 511302.7, 54235268039.433, 46567800268.3311, 10.1, 97.33, 97.89, 41258.2747305664, -0.638297872340434, 2.1397)
('FR', 99.1, 511302.7, 56505057198.2246, 46650928299.0561, 10.2, 97.42, 98.82, 41258.2747305664, 0.321199143468955, 2.0103)
('SP', 99.7604032477377, 254546.8, 73289000000.0, 25759574468.0851, 26.2, -12.8143, 95.3440794533996, 28910.7558426965, 96.3080256688057, 5.399285714)
('SP', 99.9330526256261, 254546.8, 73289000000.0, 26318457741.3115, 26.3, -12.8143, 94.6750788958991, 28910.7558426965, 97.0080840070006, 5.111095238)
('SP', 100.284339221098, 254546.8, 73289000000.0, 26941602417.8129, 26.2, -12.8143, 95.5900796583997, 28910.7558426965, 96.9080756729728, 5.169727273)
('SP', 100.659577175353, 254324.1, 73041000000.0, 26052501332.0703, 26.3, -10.6082, 94.3310786092322, 28910.7558426965, 96.7080590049171, 5.79)
('SP', 100.845200205915, 254324.1, 73041000000.0, 25768044485.6348, 26.2, -10.6082, 94.9470791225659, 28910.7558426965, 97.0080840070006, 6.125545455)
('SP', 100.993898225021, 254324.1, 73041000000.0, 27064301213.0464, 26.2, -10.6082, 96.0020800017333, 28910.7558426965, 97.4081173431119, 6.589380952)
('SP', 100.472956171508, 254184.9, 74731000000.0, 25761069258.3118, 26.3, -6.4241, 95.6320796933998, 28910.7558426965, 97.9081590132511, 6.795)
('SP', 100.78532180896, 254184.9, 74731000000.0, 27689597323.5597, 26.2, -6.4241, 96.6960805800672, 28910.7558426965, 98.3081923493624, 6.581285714)
('SP', 100.59670485855, 254184.9, 74731000000.0, 26575583671.9334, 26.1, -6.4241, 96.4000803334003, 28910.7558426965, 97.8081506792233, 5.9205)
('SP', 101.00487593113, 254608.4, 75184000000.0, 26549317788.0472, 26.0, -6.2899, 95.3480794567329, 28910.7558426965, 97.0080840070006, 5.646590909)
('SP', 101.215448293757, 254608.4, 75184000000.0, 26151414229.3277, 25.8, -6.2899, 96.579080482567, 28910.7558426965, 97.2081006750563, 5.690090909)
('SP', 101.306263862473, 254608.4, 75184000000.0, 27514817484.1018, 25.5, -6.2899, 96.7480806234005, 28910.7558426965, 96.3080256688057, 5.339944444)
('AUS', 97.8871604364987, 403694000000.0, 19383292376.5654, 21661955081.0804, 5.9342638, 7.6135, 91.6164147447456, 54679.4164458288, 22960600000.0, 4.18)
('AUS', 97.8871604364987, 403694000000.0, 19782433558.1767, 21884037770.7917, 5.8940447, 7.6135, 91.6164147447456, 54679.4164458288, 20295000000.0, 4.12)
('AUS', 97.8871604364987, 403694000000.0, 19071423478.8101, 21271450705.589, 5.8669202, 7.6135, 91.6164147447456, 54679.4164458288, 22386200000.0, 4.1)
('AUS', 98.3515207801254, 402909000000.0, 19423530247.3378, 21452081089.4886, 5.798404, 6.8994, 92.4641154605364, 54679.4164458288, 21975800000.0, 4.03)
('AUS', 98.3515207801254, 402909000000.0, 19925119933.2156, 19919373683.4633, 5.9325264, 6.8994, 92.4641154605364, 54679.4164458288, 22620100000.0, 3.78)
('AUS', 98.3515207801254, 402909000000.0, 19618718397.3168, 19864145931.2109, 6.0477935, 6.8994, 92.4641154605364, 54679.4164458288, 22061300000.0, 3.7)
('AUS', 98.815881123752, 402694000000.0, 19213964602.9243, 20350131594.3765, 6.1727062, 6.3184, 93.8045254045838, 54679.4164458288, 22917200000.0, 3.47)
('AUS', 98.815881123752, 402694000000.0, 19099102941.6733, 19618416078.8419, 6.0831305, 6.3184, 93.8045254045838, 54679.4164458288, 22898200000.0, 3.41)
('AUS', 98.815881123752, 402694000000.0, 19405130398.0638, 19062071825.971, 6.2264364, 6.3184, 93.8045254045838, 54679.4164458288, 23057200000.0, 3.55)
('AUS', 99.0016252612027, 405188000000.0, 17814907026.8814, 18933477591.227, 6.3687753, 4.947, 94.973330277877, 54679.4164458288, 24332700000.0, 3.32)
('AUS', 99.0016252612027, 405188000000.0, 18259236824.7935, 18542022996.265198, 6.2958108, 4.947, 94.973330277877, 54679.4164458288, 24793500000.0, 3.26)
('AUS', 99.0016252612027, 405188000000.0, 17082384984.8681, 17938164727.166, 6.1072511, 4.947, 94.973330277877, 54679.4164458288, 30425900000.0, 2.96)
('UK ', 99.2, 439721.7, 140806000000.0, 129455000000.0, 5.582786711, 6.7157, 101.9, 44974.8318771782, 97.4569319114028, 1.589)
('UK ', 99.5, 439721.7, 140806000000.0, 129455000000.0, 5.536308827, 6.7157, 102.3, 44974.8318771782, 98.9882417281925, 1.7365)
('UK ', 99.6, 439721.7, 140806000000.0, 129455000000.0, 5.50391667, 6.7157, 102.7, 44974.8318771782, 99.6445173639595, 1.7941)
('UK ', 99.9, 443005.4, 137952000000.0, 133507000000.0, 5.61744588, 5.282, 102.8, 44974.8318771782, 100.300792999727, 1.755)
('UK ', 100.1, 443005.4, 137952000000.0, 133507000000.0, 5.608760341, 5.282, 103.1, 44974.8318771782, 99.7538966365874, 2.0243)
('UK ', 100.1, 443005.4, 137952000000.0, 133507000000.0, 5.5188032, 5.282, 103.0, 44974.8318771782, 100.410172272354, 2.1696)
('UK ', 100.0, 444720.6, 134743000000.0, 127808000000.0, 5.392117184, 5.3488, 102.4, 44974.8318771782, 100.519551544982, 2.1353)
('UK ', 100.3, 444720.6, 134743000000.0, 127808000000.0, 5.319322062, 5.3488, 103.3, 44974.8318771782, 99.2070002734482, 1.9799)
('UK ', 100.2, 444720.6, 134743000000.0, 127808000000.0, 5.174273285, 5.3488, 103.4, 44974.8318771782, 101.394585726005, 1.8814)
('UK ', 100.3, 447638.7, 138137000000.0, 132596000000.0, 5.081396798, 6.3615, 103.6, 44974.8318771782, 100.082034454471, 1.846)
('UK ', 100.3, 447638.7, 138137000000.0, 132596000000.0, 5.07884176, 6.3615, 102.7, 44974.8318771782, 100.738310090238, 1.9779)
('UK ', 100.4, 447638.7, 138137000000.0, 132596000000.0, 5.069227722, 6.3615, 101.6, 44974.8318771782, 101.503964998633, 1.9234)
('GER', 99.0165027504584, 707553.9, 297616000000.0, 354126000000.0, 4.4, 5.8751, 101.991500708274, 45844.6381197286, 101.908492374365, 0.4305)
('GER', 99.3165527587931, 707553.9, 297616000000.0, 354126000000.0, 4.4, 5.8751, 101.691525706191, 45844.6381197286, 101.508459038253, 0.173333333)
('GER', 100.016669444908, 707553.9, 297616000000.0, 354126000000.0, 4.3, 5.8751, 100.491625697859, 45844.6381197286, 100.908409034086, 0.171428571)
('GER', 100.116686114352, 710342.0, 297804000000.0, 358672000000.0, 4.3, 6.8665, 101.191567369386, 45844.6381197286, 100.708392366031, 0.134761905)
('GER', 100.616769461577, 710342.0, 297804000000.0, 358672000000.0, 4.2, 6.8665, 99.2917256895259, 45844.6381197286, 101.408450704225, 0.132857143)
('GER', 100.716786131022, 710342.0, 297804000000.0, 358672000000.0, 4.2, 6.8665, 101.491542371469, 45844.6381197286, 100.908409034086, -0.016818182)
('GER', 101.116852808801, 712084.6, 301660000000.0, 359415000000.0, 4.2, 7.8818, 99.9916673610532, 45844.6381197286, 102.308525710476, -0.154285714)
('GER', 101.016836139357, 712084.6, 301660000000.0, 359415000000.0, 4.1, 7.8818, 101.59153403883, 45844.6381197286, 102.508542378532, -0.13173913)
('GER', 101.016836139357, 712084.6, 301660000000.0, 359415000000.0, 4.0, 7.8818, 101.491542371469, 45844.6381197286, 101.308442370198, -0.084090909)
('GER', 101.216869478246, 714803.0, 312265000000.0, 365646000000.0, 4.0, 7.273, 102.191484042996, 45844.6381197286, 104.708725727144, 0.002)
('GER', 100.516752792132, 714803.0, 312265000000.0, 365646000000.0, 3.9, 7.273, 101.891509040913, 45844.6381197286, 102.408534044504, 0.189090909)
('GER', 101.216869478246, 714803.0, 312265000000.0, 365646000000.0, 3.9, 7.273, 100.291642363136, 45844.6381197286, 105.008750729227, 0.251904762)
('UK', 101.8, 456888.8, 161402000000.0, 152883000000.0, 4.640486214, 2.2178, 103.408894272365, 43010.0, 105.113480995351, 1.4203)
('UK', 102.4, 456888.8, 161402000000.0, 152883000000.0, 4.563299901, 2.2178, 102.163003979927, 43010.0, 105.988515176374, 1.3058)
('UK', 102.7, 456888.8, 161402000000.0, 152883000000.0, 4.540287295, 2.2178, 101.540058833708, 43010.0, 105.550998085863, 1.194)
('UK', 103.2, 458227.1, 162413000000.0, 154426000000.0, 4.445371963, 1.7218, 101.643883024745, 43010.0, 107.082307902652, 1.0789)
('UK', 103.5, 458227.1, 162413000000.0, 154426000000.0, 4.42540191, 1.7218, 102.163003979927, 43010.0, 105.550998085863, 1.1175)
('UK', 103.5, 458227.1, 162413000000.0, 154426000000.0, 4.33769478, 1.7218, 102.474476553037, 43010.0, 106.316652994258, 1.0846)
('UK', 103.5, 460167.3, 164254000000.0, 157773000000.0, 4.328040359, 1.838, 102.578300744073, 43010.0, 106.426032266885, 1.2713)
('UK', 104.0, 460167.3, 164254000000.0, 157773000000.0, 4.266814637, 1.838, 102.474476553037, 43010.0, 107.301066447908, 1.1241)
('UK', 104.3, 460167.3, 164254000000.0, 157773000000.0, 4.243337386, 1.838, 104.135663609621, 43010.0, 107.082307902652, 1.2436)
('UK', 104.4, 461800.9, 164688000000.0, 157786000000.0, 4.271856185, 1.6321, 103.928015227548, 43010.0, 107.410445720536, 1.3816)
('UK', 104.7, 461800.9, 164688000000.0, 157786000000.0, 4.352216821, 1.6321, 104.135663609621, 43010.0, 108.066721356303, 1.3299)
('UK', 105.0, 461800.9, 164688000000.0, 157786000000.0, 4.306048544, 1.6321, 103.720366845475, 43010.0, 107.519824993164, 1.2781)
('US', 248.721, 20242.215, 3386.122, 2553.171, 4.0, 411.48, 106.2655, 56785.0, 491492.0, 1.41)
('US', 249.3, 20242.215, 3386.122, 2553.171, 4.1, 411.48, 106.6419, 56785.0, 493759.0, 1.42)
('US', 249.517, 20242.215, 3386.122, 2553.171, 4.0, 411.48, 107.2519, 56785.0, 493373.0, 1.51)
('US', 250.275, 20552.653, 3385.397, 2565.247, 4.0, 419.33, 108.2223, 57099.0, 495025.0, 1.69)
('US', 250.786, 20552.653, 3385.397, 2565.247, 3.8, 419.33, 107.3639, 57099.0, 500719.0, 1.7)
('US', 251.152, 20552.653, 3385.397, 2565.247, 4.0, 419.33, 108.1707, 57099.0, 499631.0, 1.82)
('US', 251.345, 20742.723, 3451.284, 2530.95, 3.8, 424.41, 108.652, 57317.0, 502962.0, 1.91)
('US', 251.735, 20742.723, 3451.284, 2530.95, 3.8, 424.41, 109.5246, 57317.0, 501913.0, 1.91)
('US', 252.183, 20742.723, 3451.284, 2530.95, 3.7, 424.41, 109.6749, 57317.0, 500362.0, 1.95)
('US', 252.899, 20909.853, 3486.043, 2548.787, 3.8, 426.1, 109.9165, 57429.0, 506010.0, 2.19)
('US', 252.822, 20909.853, 3486.043, 2548.787, 3.8, 426.1, 110.5067, 57429.0, 506973.0, 2.2)
('US', 252.493, 20909.853, 3486.043, 2548.787, 3.9, 426.1, 110.5516, 57429.0, 496593.0, 2.27)
('IT', 102.4, 405869.2, 40514817262.2881, 46492139942.4379, 10.5, -1.8467, 105.39121739855, 35677.3805389654, 100.3, 2.77)
('IT', 102.5, 405869.2, 39795183197.1254, 44949187234.0088, 10.5, -1.8467, 106.391134072161, 35677.3805389654, 99.7, 2.812)
('IT', 102.8, 405869.2, 40219193041.2517, 44874098619.9235, 10.1, -1.8467, 105.591200733272, 35677.3805389654, 99.5, 2.6899)
('IT', 103.0, 406389.8, 40200419204.125, 44493798761.5909, 10.4, -0.9411, 105.191234063828, 35677.3805389654, 100.4, 2.6176)
('IT', 103.0, 406389.8, 40226803802.794, 44626641932.098, 10.1, -0.9411, 106.091159070077, 35677.3805389654, 99.9, 2.644)
('IT', 103.1, 406389.8, 40584110289.0224, 45591867139.0241, 9.7, -0.9411, 105.791184067994, 35677.3805389654, 101.6, 2.284)
('IT', 103.1, 406401.7, 40009400700.4692, 44287406913.318, 9.7, 0.0496, 106.2911424048, 35677.3805389654, 101.2, 1.196)
('IT', 103.5, 406401.7, 39433811132.8328, 43698558510.6329, 9.6, 0.0496, 105.191234063828, 35677.3805389654, 100.5, 1.4036)
('IT', 102.9, 406401.7, 39733570690.5743, 44795019901.2095, 9.8, 0.0496, 104.891259061745, 35677.3805389654, 100.8, 0.9021)
('IT', 102.8, 404610.0, 38766172535.2384, 46017951754.4197, 9.7, -0.0892, 103.691359053412, 35677.3805389654, 100.8, 1.0036)
('IT', 102.6, 404610.0, 38918738884.738, 44581050648.763, 9.9, -0.0892, 104.39130072494, 35677.3805389654, 100.1, 1.2659)
('IT', 102.8, 404610.0, 38644717543.0019, 45056002488.9995, 9.9, -0.0892, 101.491542371469, 35677.3805389654, 100.4, 1.37)